<!DOCTYPE html>
<html>
<head>
  <title>Humanage</title>
  <%= stylesheet_link_tag    "humanage/application", :media => "all" %>
  <%= javascript_include_tag "humanage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
